* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
}
.container {
  position: relative;
}
.nav {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  box-shadow: 0 4px 6px -6px #222;
  top: 0;
  background-color: white;
  z-index: 3;
}
.navbar__s1 {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.navbar__s2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: 400;
}
.navbar__s2 p {
  padding: 10px;
}
.navbar__s2 p {
  padding: 10px;
}
.navbar__s2 p:hover {
  border-radius: 40px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar__s3-btn {
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(27, 27, 27);
  color: white;
}
.navbar__s3-btn:hover {
  border-radius: 50px;
  background-color: rgb(214, 214, 214);
  cursor: pointer;
  color: rgb(23, 23, 23);
}
/* .nav__s4 {
  display: none;
} */
/* search bar */
.search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  align-items: center;
  margin: 15px;
}
.search__catog {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.search__catog :hover {
  text-decoration: underline;
}
.search__catog p {
  padding: 5px;
  gap: 5px;
}
.search__find {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
  gap: 10px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 60%;
  height: 50px;
}
.search__find input {
  width: 80%;
  border: none;
}
.search__find input:focus {
  outline: none;
}
/* banner classes*/
.banner {
  top: 10px;
  position: relative;
}
.banner img {
  width: 100%;
  height: 80%;
}
.banner__content {
  width: 30%;
  border: solid 2px #37b5cb;
  border-radius: 10px;
  position: absolute;
  padding: 2%;
  top: 10%;
  left: 10%;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: #37b5cb;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0%;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* stay */
.stay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 10px;
}
.stay_gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: left;
  justify-content: center;
}
.stay_gallery img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.stay_gallery_1 {
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.stay_gallery_1 h4 {
  color: white;
}
.stay_gallery_1:hover {
  animation: circle 0.75s;
}
/* .stay_gallery img:hover {
  animation: circle 0.75s;
} */
@keyframes circle {
  0% {
    opacity: 1;
    animation-duration: 2s;
    color: rgb(0, 0, 0);
  }
  40% {
    opacity: 0;
    animation-duration: 2s;
    color: rgb(0, 0, 0);
  }
  100% {
    opacity: 1;
    animation-duration: 2s;
    color: rgb(0, 0, 0);
  }
}
.stay_gallery h4 {
  left: 10px;
  top: 150px;
  position: absolute;
}

/* footer classes */
.footer {
  display: flex;
  border-top: solid 1px black;
  box-shadow: 0 4px -4px -6px #222;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
  position: relative;
  background-color: #faf1ed;
}
.footer__one {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.footer__one-sec1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 20px;
}
.footer__one-sec1 p:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* media query */
@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .banner__content {
    display: none;
  }
  .stay {
    flex-basis: 40%;
  }
  .search {
    display: none;
  }
  .footer__one-sec2 {
    display: none;
  }
  /* .nav__s4 {
    display: block;
  } */
}
